<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
    
        <!-- Importing the hamburger menu icon from remix icon CDN -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/home.css">
    
    <title>Auction App</title>
</head>
<body>

    <nav class="navbar container">
        <a href="/products" class="logo"><img src="/img/logo.svg" alt="" srcset="">
        </div></a>
        <input type="checkbox" id="toggler">
        <label for="toggler"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h12v2H3v-2zm0 7h18v2H3v-2z"/></svg></label>
    
        <div class="menu" id="menu">
    
            <ul class="list" role="list">
                <% if(!currentUser){ %>
                <li class="nav-item"><a href="/products">Browse</a></li>
                <li class="nav-item"><a href="/users/login">Login</a></li>
                <li class="nav-item"><a href="/users/register">Sign Up</a></li>
    
                <% } else{ %>
                    <li class="nav-item"><a href="/products/new">Sell</a></li>
                    <li class="nav-item"><a href="/products">Browse</a></li>
                    <li class="nav-item"><a href="/users/logout">Sign Out</a></li>
    
                <% } %>
            </ul>
    
        </div>
    </nav>




    <div class="container hero-container">
        <div class="hero">
                <!-- <h1 class="homepage-heading-1">Create <span class="homepage-heading-br">your</span> <span class="homepage-heading-br">own</span> <span class="homepage-heading-br-color">auctions,</span></h1>
                <h1 class="homepage-heading-desktop"><span class="formFlex">Create your own</span> <span class="homepage-heading-br-color">auctions,</span></h1> -->
                <h1 class="homepage-heading-desktop">Create your own<span class="homepage-heading-br-color"> Auctions,</span></h1>
                <p class="homepage-heading-2">Or start <span>bidding</span> on products.</p>
                <div class="get-started"><a href="/users/login"><button class="GetStarted-btn">Get Started</button></a></div>
        </div>

    </div>

        <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 mt-5 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Online Auction System</h1>
            <p class="lead fw-normal">It’s a place that holds auctions on the internet.</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div> -->

    <!-- Footer -->
        <!-- <div class="footer"> -->
            <!-- <p>Copyright &copy; 2022 HackerSpace VNS</p> -->

            <!-- <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a> -->
        <!-- </div> -->



    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script> -->
</body>

</html>
