*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

:root {
    --body-font-family: sans-serif;
    --dark-color: #212427;
    --dark-color-lighter: #393939;
    --accent-color: #4D34E4;
    /* --accent-color: #4267B2; */
    --accent-color-lighter: #5E49E0;
    /* --accent-color-lighter: #4267B2; */
    --background-color: #F0F0F0;
    --light-color: #f6f6f6;
    --light-grey: #EBEBEB;
    --currency-color: #118C4F;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    /* background-color: black; */
}

::-webkit-scrollbar-thumb {
    background-color: #e0dfdf;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d2d2d2;
}

html {
    scrollbar-width: none;
}


body {
    /* font-size: 16px; */
    /* line-height: 1.5; */
    color: var(--dark-color);
    background: var(--background-color);
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}



a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    outline: none;
}

a:hover {
    color: var(--accent-color);
}

button,
input {
    font: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    /* padding: 10px 30px; */
    margin: 5px 0;
    box-sizing: border-box;
}

.submit input {
    display: inline;
}

.btn {
    background-color: var(--background-color);
    border-color: #4D34E4;
    color: #4D34E4;
}

.btn:hover {
    background-color: #4D34E4;
    border: none;
}

.container {
    padding-top: 0;
    /* position: fixed; */
    margin: 0 auto;
    width: 70%;
    max-width: 2000px;
    /*Limits the width of the container but let's it get smaller if needed.*/
    padding-left: 15%;
    padding-right: 15%;
    /* padding: 12px; */
    /* margin-top: 2vh; */
}

.navbar {
    /* background: #F0F0F0; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 5px;
    /*Padding top and bottom*/
    /* background-color: #f6f6f6; */
}

.navbar ul {
    font-family: var(--body-font-family);
    color: rgba(33, 36, 39, 0.5);
}

.navbar li a {
    /* color: var(--dark-color-lighter); */

    /* padding: 0.75rem 2rem 0.75rem 2rem; */
    display: block;
    /* font-weight: 800; */
    /* font-size: 20px; */
}

.navbar .nav-item {
    padding: 0.75rem 0 0.75rem 6rem;
    /* border: 2px solid var(--accent-color); */
    /* border-radius: 0.5rem; */
    /* color: var(--accent-color); */
    /* opacity: 0.4 * 1.0 = 0.4 */
}

.navbar .nav-item :hover {
    /* background-color: var(--light-grey); */
    color: var(--dark-color);
    border-radius: 0.5rem;
}

.navbar .sign-up {
    border: 2px solid var(--accent-color);
    border-radius: 1rem;
    color: var(--accent-color);
    background-color: #f6f6f6;
}

.navbar .sign-up:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}

.navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
}


.list {
    /* list-style: none; */
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
}


/* .footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
/* text-align: center; */
/* } */


@media screen and (max-width: 1227px) {

    .container {
        width: 80%;
        /*Limits the width of the container but let's it get smaller if needed.*/
        padding-left: 10%;
        padding-right: 10%;
        /*Center the container horizontally in the middle of the page.*/
        /* padding: 12px; */
        padding-top: 3vh;
        padding-bottom: 3vh;
    }


    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar .sign-up {
        border: 2.5px solid var(--accent-color);
        border-radius: 0.5rem;
        color: var(--accent-color);
    }

    .navbar a {
        text-decoration: none;
        color: inherit;
        font-weight: 300;
        font-size: 2rem;
        color: #212427;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .navbar .nav-item {
        width: 100%;
        text-align: center;
    }

    .navbar .sign-up {
        width: 100%;
        text-align: center;
    }

    .navbar .nav-item {
        padding: 0.75rem 2rem 0.75rem 2rem;
        /* border: 2px solid var(--accent-color); */
        /* background-color: var(--light-grey); */
        border-radius: 0.5rem;
        /* text-align: end; */
        /* color: var(--accent-color); */
        /* background-color: #f6f6f6; */
        /* opacity: 0.4 * 1.0 = 0.4 */
    }

    .navbar .nav-item :hover {
        /* border: 2px solid var(--accent-color); */
        /* background-color: var(--light-grey); */
        /* border-radius: 0.5rem; */

        /* background-color: var(--light-grey); */
        /* border-radius: 1rem; */
        color: var(--accent-color);
        /* background-color: #f6f6f6; */
        /* opacity: 0.4 * 1.0 = 0.4 */
    }
}

@media screen and (max-width: 210px) {

    label {
        width: 16px;
        height: 16px;
    }
}

.hero-container {
    /* background: #F0F0F0; */
}

.homepage-heading-1 {
    font-family: var(--body-font-family);
    font-size: 20vw;
    font-weight: 900;
    /* margin-bottom: 53px; */
    /* width: 10%; */
    max-width: 600px;
    /* font-family: 'Merriweather', serif; */
    font-style: normal;
    line-height: 101px;
}

.homepage-heading-br {
    display: grid;
}

.homepage-heading-desktop {
    display: none;
}

.homepage-heading-br-color {
    color: var(--accent-color);
}

.homepage-heading-2 {
    font-family: var(--body-font-family);
    font-size: 2.5rem;
    font-weight: 400;
}

.homepage-heading-2>span {
    color: var(--accent-color);

}

.hero {
    display: flex;
    flex-flow: wrap;
}

.hero-img {
    display: none;
    /* align-items: flex-end; */
}

.GetStarted-btn {
    width: 195.51px;
    height: 53px;
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: large;
    background-color: var(--dark-color);
    color: var(--background-color);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    /* border: 1px solid #4D34E4; */
    border-radius: 15px;
    margin-top: 55px;
}


@media screen and (min-width: 600px) {

    .hero {
        margin: 100px auto;
    }

    .homepage-heading-1 {
        /* font-size: 13vh;
        font-weight: 900;
        font-size: 96px;
        line-height: 112px; */
        display: none;
        font-weight: 900;
        font-size: 6.25rem;
    }

    .homepage-heading-desktop {
        /* font-family: var(--body-font-family); */
        font-family: 'Merriweather', serif;
        font-size: 5rem;
        font-weight: 900;
        /* font-size: 96px; */
        line-height: 6rem;
        display: block;
        letter-spacing: -0.01em;
    }

    .homepage-heading-br {
        display: grid;
    }
    

    .homepage-heading-br-color {
        /* display: grid; */
    }

    /* !Heading2 */
    .homepage-heading-2 {
        font-size: 1.9rem;
        margin: 1rem auto;
        font-weight: 900;
        font-family: 'Merriweather', serif;

    }

    .hero {
        text-align: center;
        display: grid;
        margin: 10vw auto;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .hero-center {
        text-align: center;
    }

    /* .hero-img {
        display: flex;
    } */

    .get-started {
        /* margin: 2rem auto; */
    }

    .GetStarted-btn {
        /* width: 236px; */
        /* height: 64px; */
        font-family: var(--body-font-family);
        font-weight: 600;
        font-size: large;
        color: var(--dark-color);
        border: 1.6px solid  var(--dark-color);
        background: rgba(255, 255, 255, 0);
        /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
        /* border: 1px solid #4D34E4; */
        border-radius: 15px;
        margin-top: 40px;
    }
}