body{
    display: block;
    content: "";
    height: 60px;
    /* background-image: url("https://images.unsplash.com/photo-1614850715649-1d0106293bd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
    background-color: #f4f4f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}


.global-container{
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #0db8de; */
    opacity: 90%;
}

form {
    padding-top: 10px;
    font-size: 17px;
    margin-top: 30px;
}

.login-form {
    width: 470px;
    height: 500px;
    margin: 100px;
    /* background: #1a2226 !important; */
    border-radius: 10px !important;
}


input[type="email"],
input[type="password"] {
    /* background: #1a2226; */
    /* border: 2px solid; */
    border-radius: 3px;
    margin-bottom: 25px;
}


