@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*/ *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

:root {
    --body-font-family: 'Roboto', sans-serif;
    --dark-color: #212427;
    --dark-color-lighter: #393939;
    --accent-color: #4D34E4;
    /* --accent-color: #4267B2; */
    --accent-color-lighter: #5E49E0;
    /* --accent-color-lighter: #4267B2; */
    /* --background-color: #f6f6f6; */
    --background-color: #FAFAFA;
    --light-color: #f6f6f6;
    --light-grey: #EBEBEB;
    --currency-color: #118C4F;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    /* background-color: black; */
}

::-webkit-scrollbar-thumb {
    background-color: #e0dfdf;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d2d2d2;
}

html {
    scrollbar-width: none;
}


body {
    color: var(--dark-color);
    background: var(--background-color);
    font-family: var(--body-font-family);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    outline: none;
}

a:hover {
    color: var(--accent-color);
}

button,
input {
    font: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    /* padding: 10px 30px; */
    margin: 5px 0;
    box-sizing: border-box;
}

.submit input {
    display: inline;
}







.btn {
    background-color: var(--background-color);
    border-color: #4D34E4;
    color: #4D34E4;
}

.btn:hover {
    background-color: #4D34E4;
    border: none;
}

.container {
    padding-top: 0;
    /* position: fixed; */
    margin: 0 auto;
    width: 70%;
    max-width: 2000px;
    /*Limits the width of the container but let's it get smaller if needed.*/
    padding-left: 15%;
    padding-right: 15%;
    /* padding: 12px; */
    /* margin-top: 2vh; */
}

/* ----------------------Navbar Start------------------------- */


.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 5px;
}

.navbar ul {
    color: rgba(33, 36, 39, 0.5);
}

.nav-item {
    padding: 0.75rem 0 0.75rem 6rem;
}

.nav-item :hover {
    color: var(--dark-color);
    border-radius: 0.5rem;
}

.navbar a {
    /* font-weight: 400; */
    font-size: 1rem;
    letter-spacing: 0.04em;
}

.nav-links {
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
}

/* ----------------------Navbar End------------------------- */



@media screen and (max-width: 1227px) {

    .container {
        width: 80%;
        /*Limits the width of the container but let's it get smaller if needed.*/
        padding-left: 10%;
        padding-right: 10%;
        /*Center the container horizontally in the middle of the page.*/
        /* padding: 12px; */
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar a {
        text-decoration: none;
        color: inherit;
        font-weight: 300;
        font-size: 2rem;
        color: #212427;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .navbar .nav-item {
        width: 100%;
        text-align: center;
    }

    .navbar .sign-up {
        width: 100%;
        text-align: center;
    }

    .navbar .nav-item {
        padding: 0.75rem 2rem 0.75rem 2rem;
        /* border: 2px solid var(--accent-color); */
        /* background-color: var(--light-grey); */
        border-radius: 0.5rem;
        /* text-align: end; */
        /* color: var(--accent-color); */
        /* background-color: #f6f6f6; */
        /* opacity: 0.4 * 1.0 = 0.4 */
    }

    .navbar .nav-item :hover {
        /* border: 2px solid var(--accent-color); */
        /* background-color: var(--light-grey); */
        /* border-radius: 0.5rem; */

        /* background-color: var(--light-grey); */
        /* border-radius: 1rem; */
        color: var(--accent-color);
        /* background-color: #f6f6f6; */
        /* opacity: 0.4 * 1.0 = 0.4 */
    }
}

@media screen and (max-width: 210px) {
    label {
        width: 16px;
        height: 16px;
    }
}

.hero-container {
    background: #F0F0F0;
}

.homepage-heading-1 {
    font-family: var(--body-font-family);
    font-size: 20vw;
    font-weight: 400;
    /* margin-bottom: 53px; */
    /* width: 10%; */
    max-width: 600px;
}

.homepage-heading-1 > span{
    color: var(--accent-color);
}

.homepage-heading-2 {
    font-family: var(--body-font-family);
    font-size: 5.5vw;
}

.homepage-heading-2 > span {
    color: var(--accent-color);
    
}

.hero {
    display: flex;
    flex-flow: wrap;
}

.hero-img {
    display: none;
    /* align-items: flex-end; */
}

.GetStarted-btn {
    width: 195.51px;
    height: 53px;
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: large;
    background-color: var(--accent-color);
    color: var(--background-color);
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
    border: 1px solid #4D34E4;
    border-radius: 53px;
    margin-top: 55px;
}


@media screen and (min-width: 600px) {

    .hero {
        margin: 60px auto;
    }

    .homepage-heading-1 {
        font-size: 13vh;
    }

    .homepage-heading-2 {
        font-size: 3vh;
    }
    
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-img {
        display: flex;
    }
    .GetStarted-btn {
        width: 236px;
        height: 64px;
        font-family: var(--body-font-family);
        font-weight: 400;
        font-size: large;
        background-color: var(--accent-color);
        color: var(--background-color);
        filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
        border: 1px solid #4D34E4;
        border-radius: 53px;
        margin-top: 80px;
    }
}



form {
    margin: 0;
    padding: 0;
}

.formContainer {
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
}

.formContainer-signup {
    margin: 0 auto;
    width: 70%;
    max-width: 2000px;
}

.loginForm {
    font-family: var(--body-font-family);
    /* display: flex; */
    margin: 30px 0;
    width: 100%;
}

.loginH1 {
    font-weight: 300;
    font-size: 6rem;
    margin: auto auto 53px auto;
    width: 100%;
}

.loginH1-newProd {
    font-weight: 300;
    margin: 20px auto 50px auto;
    font-size: 5rem;
    color: var(--accent-color);
    letter-spacing: 0.01em;
}

.loginH2-newProd {
    margin: 20px auto;
    font-size: 2rem;
    color: var(--dark-color);
}

.formLable {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: var(--dark-color-lighter);
    /* width: 100%; */
}

.formInput {
    width: 100%;
    height: 90px;
    font-weight: 400;
    background-color: var(--light-grey);
    opacity: 70%;
    border-radius: 22px;
    margin: 17px 0 23px 0;
    padding-left: 30px;
    /* padding-right: 30px; */
    font-size: 24px;
}



.formLink {
    /* padding-top: 21px; */
    font-size: 12px;
}

.password-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.formSubmitButton {
    width: 50%;
    height: 59.93px;
    margin: 64px auto 0 auto;
    background-color: var(--accent-color);
    color: var(--background-color);
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
    border: 1px solid #4D34E4;
    border-radius: 22px;
    /* margin-top: 64px; */
}

.new-prod-button {
    /* margin-left: 25%; */
    width: 30%;
    height: 70px;
    font-size: 1.5rem;
}

.formSubmitButton:hover,
.formSubmitButton:focus {
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
    transform: translateY(-0.1rem);
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.formFlex {
    display: flex;
}

@media screen and (max-width: 980px) {
    .formGrid {
        margin: 0;
        display: flex;
        flex-flow: wrap;
        width: 100%;
        /* font-family: var(--body-font-family); */
    }

    .formInput {
        width: 100%;
        font-size: 12px;
        height: 60px;
    }

    .loginForm {
        margin: 0 auto;
    }

    .loginH1 {
        margin: 30px 0;
        font-size: 4rem;
    }

    .loginH1-newProd {
        font-weight: 300;
        margin: 20px auto 50px auto;
        font-size: 2.6rem;
        color: var(--accent-color);
    }

    .loginH2-newProd {
        font-size: 1.5rem;
        color: var(--dark-color);
    }

    .formContainer {
        margin: 0 auto;
        width: 80%;
    }

    .formContainer-signup {
        margin: 0 auto;
        padding-top: 0;
        width: 80%;
    }

    .new-prod-button {
        width: 100%;
        height: 50px;
        font-size: 1.1rem;
        letter-spacing: 0.03em;
    }

}

.formSection {
    width: 100%;
}
















/* Product Component */

.prodContainer {
    max-width: 70%;
    margin: 43px auto;
    padding: 0;
    /* left: 15%; */
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8vw;

    font-family: var(--body-font-family);
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.product {
    margin: auto;
    margin-bottom: 60px;

    max-width: 300px;
    /* border:solid .1rem;
    border-radius: 5px;
    border-color:blueviolet; */
    /* flex: 1 0 33%; */
}

/* .product:hover {
    max-width: 301px;
} */




.image-container, .swiper {
    aspect-ratio: 1/1;
    /* background-color: white; */
    /* border: solid .1rem; */
    border-radius: 15px;
    /* border-color: #DDDDDD; */
    background-color: white;

    /* min-width: 100px; */
    min-height: 300px;
    max-height: 100%;
    min-width: 300px;
    max-width: 100%;
    /* max-height: auto; */
    /* float: left; */
    /* margin: 3px; */
    /* padding: 3px; */
}

.product__image {
    display: block;
    /* max-width: 100%; */
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    /* width:300px;
    height:300px; */
    /* width:100%; */
    margin: auto;
    height: 100%;
    max-width: 100%;
    /* max-width: fit-content; */
    /* aspect-ratio: 1/1; */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev, .swiper-button-next {
    color: var(--light-grey); 
}

.product__title {
    margin: 30px 0 30px 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-overflow: "----"; */
    -webkit-mask-image: linear-gradient(90deg, #4D34E4 80%, transparent);
}

.product__body {
    margin: 0 auto 30px auto;
    font-size: 0.9em;
    font-weight: 350;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-overflow: "----"; */
    -webkit-mask-image: linear-gradient(90deg, #4D34E4 80%, transparent);
}


.current-price {
    font-weight: 700;
    color: var(--currency-color);
}

.current-price__currency {
    color: var(--currency-color);
}

.countdown-timer {
    font-size: 1.1rem;
    color: var(--accent-color-lighter);
}

.wrapper-1 {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    /* font-size: 5vw; */
    font-size: 1.4rem;
}

.wrapper-2 {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 5px 0 5px 0;
    color: #808080;
}

.product__wrapper {}

.place-bid {
    margin: 30px auto;
    width: 100%;
    background: var(--background-color);
    border-radius: 15px;
    /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
    border: 1.6px solid  var(--dark-color);
}


.place-bid_button {
    color: var(--dark-color);
    height: 50px;
    font-weight: 400;
    font-size: 1.2rem;
}

.quick-bid {
    margin: 30px auto;
    width: 100%;
    background: var(--accent-color);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.quick-bid-price-input-container {
    margin: 30px auto;
    width: 100%;
    /* background: var(--accent-color); */
    border-radius: 15px;
    /* filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25)); */
}

.quick-bid-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.quick-bid-price-input {
    /* width: 50%; */
    /* margin: 0 auto; */
    margin: 30px auto;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    background-color: #EBEBEB;
    border-radius: 15px;
}




.quick-bid_button {
    color: var(--background-color);
    height: 50px;
    font-weight: 600;
    font-size: 1.2rem;
}

/* .product:hover,
.product:focus {
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
    /* transform: translateY(-0.1rem); */
/* }  */

.place-bid:hover,
.place-bid:focus {
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
    transform: translateY(-0.1rem);
    /* background: var(--background-color); */
    /* border-color: var(--dark-color); */

}

/* .place-bid_button:hover {
    color: #212427;
} */

@media screen and (max-width: 1700px) {
    .prodContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* column-gap: 50px; */
        font-family: var(--body-font-family);
    }

    .quick-bid-price-input {
        font-size: large;
    }

    .quick-bid_button {
        font-size: large;
    }

}

@media screen and (max-width: 980px) {
    .prodContainer {
        margin: 10px auto;
        display: flex;
        flex-flow: wrap;
        width: 80%;
        font-family: var(--body-font-family);
    }

    .image-container {
        aspect-ratio: 1/1;
        /* max-height: 400px; */
        width: 100%
    }
    .product {
        max-width: 100%;
    }

}
















.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding-top: 0; */
    /* position: fixed; */
    margin: 30px auto;
    width: 70%;
    max-width: 2000px;
    font-family: var(--body-font-family);
    /*Limits the width of the container but let's it get smaller if needed.*/
    /* padding-left: 15%; */
    /* padding-right: 15%; */
}



.product-img-container {
    aspect-ratio: 1/1;
    /* background-color: white; */
    /* border: solid .1rem; */
    /* border-radius: 5px; */
    /* border-color: #DDDDDD; */
    background-color: white;

    /* min-width: 100px; */
    min-height: 300px;
    max-height: 100%;
    min-width: 300px;
    max-width: 100%;
    /* max-height: auto; */
    /* float: left; */
    /* margin: 3px; */
    /* padding: 3px; */
}

.product-img {
    /* border-radius: 5px; */
    object-fit:scale-down;
    margin: 0 auto;
    height:100%;
    max-width: 100%;
}

.product__title-big {
    margin: 30px 0 30px 0;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 23px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* text-overflow: "----"; */
    /* -webkit-mask-image: linear-gradient(90deg, #4D34E4 80%, transparent); */
}

.product-details {
    margin: 0 auto;
    width: 80%;
    /* border:solid .1rem; */
    /* border-radius: 5px; */
    /* border-color: #DDDDDD; */
    /* background-color: white; */
}

.product__body-big {
    margin: 0 auto 30px auto;
    font-size: 1.5rem;
    font-weight: 350;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* text-overflow: "----"; */
    /* -webkit-mask-image: linear-gradient(90deg, #4D34E4 80%, transparent); */
}

@media screen and 
(max-width: 980px) {
    .product-container{
        display: flex;
        flex-flow: wrap;
        width: 80%;
    }

    .product-details {
        width: 100%;
    }
}