<% layout('layouts/boilerplate') %>

<!-- <link rel="stylesheet" href="/css/register.css" /> -->
<div class="formContainer-signup container">
    <div class="loginForm">
        <div class="loginForm">
            <h1 class="loginH1-newProd">Shipping Address</h1>
            <form id="form" name="addressForm" action="/users/addAddress" method="post">
                <div id="error"></div>
                <div class="formGrid">
                    <div class="formSection">
                        <label class="formLable" for="name">Name</label>
                        <input type="text" class="formInput" id="name" name="s_name" placeholder="Full name">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="phoneNumber">Phone Number</label>
                        <input type="text" name="s_phoneNumber" class="formInput" id="phoneNumber">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="address">Address</label>
                        <input type="text" name="s_address" class="formInput" id="address">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="city">City</label>
                        <input type="text" name="s_city" class="formInput" id="city">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="state">State</label>
                        <input type="text" name="s_state" class="formInput" id="state">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="zip">Pincode</label>
                        <input type="text" name="s_pincode" class="formInput" id="zip">
                    </div>
                </div>
                <!-- </div> -->

                <div class="formFlex form__same-billing-input">
                    <div class=""><input type="checkbox" name="same" value="1"></div>
                    <div class="form__same-billing-address">
                        <p>Billing address same as shipping address</p>
                    </div>
                </div>
                <!-- <div class="loginForm"> -->
                <h1 class="loginH1-newProd">Billing Address</h1>
                <div class="formGrid">
                    <div class="formSection">
                        <label class="formLable" for="name">Name</label>
                        <input type="text" class="formInput" id="name" name="b_name" placeholder="Full name">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="phoneNumber">Phone Number</label>
                        <input type="text" name="b_phoneNumber" class="formInput" id="phoneNumber">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="address">Address</label>
                        <input type="text" name="b_address" class="formInput" id="address">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="city">City</label>
                        <input type="text" name="b_city" class="formInput" id="city">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="state">State</label>
                        <input type="text" name="b_state" class="formInput" id="state">
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="zip">Pincode</label>
                        <input type="text" name="b_pincode" class="formInput" id="zip">
                    </div>
                </div>
        </div>

        <div class="formSection">
            <button type="submit" class="formSubmitButton">Save</button>
        </div>
        </form>
    </div>
</div>

<script src="/js/user/addAddress.js"></script>