<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/login.css" />


    <div class="formContainer">
        <div class="loginForm">
            <h1 class="loginH1-newProd">Confirm OTP</h1>
                
                <form id="form" action="/users/confirm" method="POST">
                    <div id="error"></div>
                    <div class="formSection">
                        <label class="formLable" for="">Email</label>
                        <input name="email" type="email" value="<%= currentUser?.email %>" class="formInput" id="email" />

                    </div>
                    <div class="formSection">
                        <label class="formLable" for="">OTP</label>
                        <input name="otp" type="text" class="formInput" id="otp" />
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="formSubmitButton">
                            Verify Me!
                        </button>
                    </div>
                </form>
        </div>
    </div>

<script src="/js/user/confirmOTPpage.js"></script>