<% layout('layouts/boilerplate') %>

<div class="formContainer-signup container">
    <div class="loginForm">

<div class="formGrid">
    <div class="loginH1">Dashboard</div>
    </div>
    <div class="formLabel">Comming Soon...</div>
    <div><h1><a href="/users/profile">Your profile</a></h1></div>
    <div><h1><a href="/users/Edit">Edit your profile</a></h1></div>
</div>
</div>