<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/login.css" />

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="text-center display-1">Forgot Password</h1>
                
                <form action="/users/forgot-password" method="POST">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input name="email" type="email" class="form-control form-control-lg" id="email" />
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg button-center">
                            Send OTP
                        </button>
                    </div>

                    <div class="signup mt-4">Don't have an account</div>
                    <a href="/users/register">Create new account</a>
                </form>
        </div>
    </div>
</div>