<% layout('layouts/boilerplate') %> 

<h1>Login with email or phone</h1>
<form action="/users/login" method="POST">
    <div>
        <label for="email">Login</label>
    </div>
    <div>
        <input type="text" name="email" id="email" placeholder="email">
    </div>
    <div>
        <label for="password">Password</label>
    </div>
    <div>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>