<% layout('layouts/boilerplate') %> 

<form action="/users" method="POST">
    <div>
        <label for="firstName">First Name</label>
    </div>
    <div>
        <input type="text" name="user[firstName]" id="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
    </div>
    <div>
        <input type="text" name="user[lastName]" id="lastName">
    </div>
    <div>
        <label for="email">Email</label>
    </div>
    <div>
        <input type="email" name="user[email]" id="email">
    </div>
    <div>
        <label for="avatar">Profile Pic</label>
    </div>
    <div>
        <input type="text" name="user[avatar]" id="avatar">
    </div>
    <div>
        <label for="dob">DOB</label>
    </div>
    <div>
        <input type="date" name="user[dob]" id="dob">
    </div>
    <div>
        <label for="password">Password</label>
    </div>
    <div>
        <input type="password" name="user[password]" id="password">
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
    </div>
    <div>
        <input type="text" name="user[phoneNumber]" id="phoneNumber">
    </div>
    <div>
        <label for="role">Select Role</label>
    </div>
    <div>
        <select name="user[role]" id="role">
            <option value="ROLE_USER">User</option>
            <option value="ROLE_ADMIN">Admin</option>
            <option value="ROLE_SELLER">Seller</option>
        </select>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>