<% layout('layouts/boilerplate') %> 

<form action="/users" method="POST" enctype="multipart/form-data">
    <div>
        <label for="firstName">First Name</label>
    </div>
    <div>
        <input type="text" name="firstName" id="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
    </div>
    <div>
        <input type="text" name="lastName" id="lastName">
    </div>
    <div>
        <label for="email">Email</label>
    </div>
    <div>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="avatar">Profile Pic</label>
    </div>
    <div>
        <input id="avatar" type="file" name="avatar" required>
    </div>
    <div>
        <label for="dob">DOB</label>
    </div>
    <div>
        <input type="date" name="dob" id="dob" required>
    </div>
    <div>
        <label for="password">Password</label>
    </div>
    <div>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
    </div>
    <div>
        <input type="text" name="phoneNumber" id="phoneNumber">
    </div>
    <div>
        <label for="role">Select Role</label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>