<% layout('layouts/boilerplate') %> 

<form action="/users" method="POST">
    <div>
        <label for="firstName">First Name</label>
    </div>
    <div>
        <input type="text" name="user[firstName]" id="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
    </div>
    <div>
        <input type="text" name="user[lastName]" id="lastName">
    </div>
    <div>
        <label for="email">Email</label>
    </div>
    <div>
        <input type="email" name="user[email]" id="email">
    </div>
    <div>
        <label for="image">Image</label>
    </div>
    <div>
        <input type="text" name="user[image]" id="image">
    </div>
    <div>
        <label for="dob">DOB</label>
    </div>
    <div>
        <input type="date" name="user[dob]" id="dob">
    </div>
    <div>
        <label for="password">Password</label>
    </div>
    <div>
        <input type="password" name="user[password]" id="password">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>