<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/login.css" />

<div class="global-container">
    <div class="formContainer">
        <div class="loginForm">
            <div class="loginH1-newProd">Reset your password</div>
                
                <form action="/users/reset-password" method="POST">
                    <div class="formSection">
                        <label class="formLable" for="">Email</label>
                        <input name="email" type="email" class="formInput" id="email" />
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="">OTP</label>
                        <a href="#" style="float: right; font-size: 12px">Forgot Password</a>
                        <input name="otp" type="text" class="formInput" id="password" />
                    </div>
                    <div class="formSection">
                        <label class="formLable" for="">New Password</label>
                        <a href="#" style="float: right; font-size: 12px">Forgot Password</a>
                        <input name="password" type="password" class="formInput" id="password" />
                    </div>
                    <div class="formSection">
                        <button type="submit" class="formSubmitButton">
                            Make it so!
                        </button>
                    </div>
                </form>
        </div>
    </div>
</div>