<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/styles.css" />

    <div class="formContainer">
        <div class="loginForm">
            <div class="loginH1-newProd"><%= title %></div>
                
                <form action="<%= action %>" method="POST">
                    <div class="formSection">
                        <label class="formLable" for="">Email</label>
                        <input name="email" type="email" value="<%= currentUser?.email %>" class="formInput" id="email" />
                    </div>
                    <div class="fromSection">
                        <button type="submit" class="formSubmitButton">
                            Send OTP
                        </button>
                    </div>

                    <div class="signup mt-4">Don't have an account</div>
                    <a href="/users/register">Create new account</a>
                </form>
        </div>
    </div>