<% layout('layouts/boilerplate') %> 

<h1>Public Profile</h1>
<hr>
<img style="width: 12rem;" src="<%= user.avatar.path %> " alt="">
<h2>Full Name</h2>
<h3> <%= user.fullName %> </h3>
<h3>Listed items</h3>
<ul>
    <% user.products.forEach( product => { %>
        <li><a href="/products/<%= product._id %>"><%= product.title %></a></li>
    <% }) %> 
</ul>