<% layout('layouts/boilerplate') %> 

<div>
    <% listings.forEach(listing=>{  %> 
        <ul>
            <li>
                <a href="/products/<%= listing._id %>"><%= listing.title %></a>
                <a href="/products/<%= listing._id %>/edit" style="display: inline-block; color: white; background-color: green; margin-left: 12px; padding: 5px; border-radius: 2px;">Edit</a>
                <form action="/products/<%= listing._id %>?_method=DELETE" method="post" style="display: inline-block;">
                    <button type="submit" style="color: white; background-color: red; margin-left: 12px; padding: 5px; border-radius: 2px;">Delete</button>
                </form>
            </li>
        </ul>
    <% }) %>
</div>